<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="sicovii" value="https://pkgs.dev.azure.com/olimpiait/9fc7cbdd-2938-4c6e-be8b-989e9e378132/_packaging/sicovii/nuget/v3/index.json" />
    <add key="PaquetesMiSISECTransversal" value="https://pkgs.dev.azure.com/olimpiait/MiSISECTransversal/_packaging/PaquetesMiSISECTransversal/nuget/v3/index.json" />
  </packageSources>
</configuration>
